@tailwind base;
@tailwind components;
@tailwind utilities;

/* بسيط: تأكد من اتجاه النص RTL */
html, body, #root {
  height: 100%;
}
body {
  direction: rtl;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
